body {
	width: 300px;
	color: #424242;
	background: #fff;
	margin: 8px 8px 0;
}

.clear{
	clear: both;
}

.privateKey-container,
.selectList-container,
.main-container,
.settings-container {
	display: none;
}

h1 {
	margin: 0 0 5px;
	padding: 0 0 5px;
	border-bottom: 1px solid #eee;
	font-size: 14px;
}

h2 {
	margin: 0 0 10px;
}

.fetch-coplay-container {
	margin: 15px 0;
}

.fetch-coplay-container button {
	background: #4CAF50;
	border: 0;
	border-radius: 5px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	display: block;
	width: 100%;
	padding: 10px 0;
	cursor: pointer;
	margin: 15px 0 0;
}

.fetch-coplay-container button:hover,
.fetch-coplay-container button:hover {
	background: #43A047;
}

.warning {
	font-weight: bold;
	color: #E57373;
	font-size: 11px;
}

.text-center {
	text-align: center;
}

.settings-container label {
	font-weight: bold;
	padding: 3px 0;
	display: inline-block;
}

.settings-container a {
	float: right;
	display: block;
	margin: 3px 1px 0 0;
	text-decoration: none;
}

.settings-container a:hover {
	text-decoration: underline;
}

.settings-container input,
.settings-container select {
	padding: 7px 10px;
	display: block;
	width: calc(100% - 22px);
	background: #FAFAFA;
	color: #757575;
	border: 1px solid #BDBDBD;
	margin: 0 0 10px;
}

.settings-container select {
	width: 100%;
}

.settings-container .warning {
	float: right;
	margin-top: 5px;
}

.settings-container .btn-save {
	float: right;
	margin-top: 5px;
}

.btn {
	font-weight: bold;
	padding: 5px 15px;
	cursor: pointer;
}

.btn-hide {
	display: none;
}

.btn-next, .btn-toggle-select {
	background: #3F51B5;
	border: 1px solid #3949AB;
	color: white;
	float: right;
}

.btn-cancel {
	background: #F44336;
	border: 1px solid #D32F2F;
	color: white;
}

.btn-save {
	background: #3F51B5;
	border: 1px solid #303F9F;
	color: white;
}

.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 20px auto;
  display: block;
}

.double-bounce1, .double-bounce2 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #333;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;

	-webkit-animation: bounce 2.0s infinite ease-in-out;
	animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
	0%, 100% { -webkit-transform: scale(0.0) }
	50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
	0%, 100% { 
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	} 50% { 
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
}

ul.links {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	border-top: 1px solid #eee;
}


ul.links li:not(.clear) {
	float: left;
	width: 50%;
	height: 50px;
}

ul.links li:first-child {
	border-right: 1px solid #eee;
	width: calc(50% - 1px);
}

ul.links li a {
	display: block;
	width: 100%;
	height: 100%;
}

ul.links li a:hover {
	background-color: #fafafa;
}

ul.links .github { background: url(/img/github.png) no-repeat center; }

ul.links .settings { background: url(/img/cog.png) no-repeat center; }

.matches-container {
	display: none;
	margin: 15px -8px 0;
	background: #fafafa;
	border-top: 1px solid #ddd;
	padding: 15px 10px 10px;
	max-height: 300px;
	overflow-y: auto;
}

.match-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #fff;
	padding: 0 15px;
	height: 60px;
	margin-bottom: 5px;
	cursor: pointer;
	border: 1px solid #e1e1e1;
}

.match-item:hover {
	background: #424242;
	border: 1px solid #424242;
	color: #fafafa;
}

.match-item:hover .player-count {
	background: #fafafa;
	color: #424242;
}

.match-item .title {
	font-size: 14px;
	font-weight: bold;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.match-item .time {
	font-size: 12px;
	font-weight: normal;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.match-item .player-count {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 40px;
	height: 40px;
	background: #424242;
	border-radius: 20px;
	font-weight: bold;
	color: #eee;
}

.players-container {
	display: none;
	margin: -5px -8px 0;
	background: #fafafa;
	padding: 15px 10px 10px;
	max-height: 450px;
	overflow-y: auto;
	position: relative;
}

.btn-add-to-list {
	background: #4CAF50;
	border: 1px solid #388E3C;
	color: white;
	width: calc(100% - 10px);
	margin: 10px auto 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
}

.players-container textarea {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	display: block;
	width: calc(100% - 36px);
	height: auto;
	margin: 5px auto 10px;
	padding: 6px 12px;
	color: #555;
	background: #fff;
	border: 1px solid #e1e1e1;
	resize: none;
}

.players-container h4 {
	margin: 10px 0 0;
	padding: 0;
	text-align: center;
	font-size: 17px;
}

.players-container .time {
	text-align: center;
	font-size: 13px;
	margin: 0 0 15px;
}

.players-container input[type="checkbox"] {
	display: none;
}

.players-container input[type="checkbox"]:checked + .player-item {
	background: #03A9F4;
	color: white;
}

.players-container .player-item {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background: #fff;
	padding: 0 5px;
	height: 40px;
	margin: 0 5px 5px;
	cursor: pointer;
	border: 1px solid #e1e1e1;
	width: calc(50% - 22px);
	float: left;
}

.players-container .player-item:hover {
	background: #eee;
}

.player-item .avatar {
	min-width: 32px;
	min-height: 32px;
	max-width: 32px;
	max-height: 32px;
	width: 32px;
	height: 32px;
	margin-right: 10px;
}

.player-item .display-name {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}